<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weekend Challenge 4 live solve example</title>
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/stylesheet.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <h2>Weekend Challenge 4 live solve example</h2>
    <input type="text" name="taskNameIn" id="taskNameIn" value="" placeholder="Name (64 chars max)">
    <button type="button" name="addTask" id="addTask">Add Task</button>
    <div id='outputDiv'>TASKS GO HERE</div>
  </body>
</html>
